* {
    padding:0;
    margin: 0 auto;
    font-size: 100%;
    line-height: 1.8em;
}

body{
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
    font-weight: 200;
    background-color: #fff;
    min-width: 33%;
	width: 100%;
    height: 100%;
}

article{
    height: 100%;
}

header{
    width: 100%;
    min-width: 23%;
    float: left;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 20px;
}

nav{
    text-align: center;
    width: 100%;
    min-width: 23%;
    height: 100%;
}

nav ul{
    list-style: none;
}

nav li{
    display: inline;
	margin-top: 9px;	
	padding-left: 20px;
    padding-right: 20px;
}

nav li a{
    color: #000; 
    opacity:1;  
    text-decoration: none; 
    font-family: 'Oswald', sans-serif; 
    font-weight: 300;
}

nav li a:hover { 
    color: #000;
    opacity: .6;
}

section{
    width: 65%;
    min-width: 33%;
    height: 100%;
    margin-bottom: 30px;
}

#hero{
    text-align: center;
}

#hero img{
    width: 75%;
}

#logoleft{
    text-align: center;
    float:left;
    width: 50%;
    padding-bottom: 50px;
}

#logoleft p{
    text-align: left;
}

#logoleft h2{
    text-align: left;
}

#logoright{
    text-align:center;
    float:right;
    width: 50%;
}

#logoright p{
    text-align: left;
}

#logoright h2{
    text-align: left;
    padding-top: 45px;
}

#logoleft ul{
    text-align: left;
    list-style: none;
    padding-bottom: 20px;
}

#logoright ul{
    text-align: left;
    list-style: none;
}

#logoleft img{
    width:50%;
    background-color: #C4FF00;
}

#logoright img{
    width:50%;
    background-color: #24919A;
}

#icon{
    text-align: center;
}

#icon img{
    margin-top: 20px;
    margin-bottom: 20px;
}

#icon h1{
    text-align: left;
}

#icon ul{
    text-align: left;
    margin-left: 20px;
}

footer{
    height: 100px;
    text-align: center;
    padding-top: 50px;
}



